.searchAndFilterBar-Container {
  position: fixed;
  bottom: 65%;
  width: 250px;
  height: 220px;
  background-color: rgba(74, 74, 74, 0.6);
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: 0.8s ease all;
}


.searchAndFilterBar-Container-NoVisible {
  position: fixed;
  bottom: 65%;
  width: 40px;
  height: 220px;
  background-color: rgba(74, 74, 74, 0.6);
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: 0.6s ease all;
}


.title-search {
  width: 218px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  -webkit-transform: rotate(270deg);
  letter-spacing: 10px;
}

.No-title-search {
  width: 218px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 119px;
  color: white;
  -webkit-transform: rotate(270deg);
  letter-spacing: 10px;
}

.title-search:hover,
.No-title-search:hover {
  width: 218px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  position: absolute;
  color: rgba(74, 74, 74, 0.6);
  -webkit-transform: rotate(270deg);
  letter-spacing: 10px;
}

/*------------------------CONTENEDOR DE BUSQUEDA POR NOMBRE*/




.searchByName-container {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 24px;
  right: 24px;
}


.buttonSearch {
  border: none;
  position: relative;
  top: 10px;
  width: 35px;
  height: 32px;
  border-radius: 0 5px 5px 0;
}


.inputSearch {
  border: none;
  width: 140px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
  outline: none;
}

.buttonSearch:hover {
  background-color: #96C082;
  color: #ffffff;
}


/*--------------------------------- CONTENEDOR DE FILTRADO POR ACTIVIDAD*/

.filter-continent-activity {
  position: absolute;
  top: 40px;
  left: 10px
}


/*------------------------CONTENEDOR DE FILTRADO POR CONTINENTE*/
.filter-continent-container {
  position: absolute;
  top: 80px;
  left: 10px
}

.input-continent {
  border: none;
  width: 184px;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
  outline: none;
}


/*------------------------CONTENEDOR DE ORDENAMIENTO ALFABETICO AZ-ZA*/

.filter-Alphabetic-container {
  position: relative;
  top: 50px;
  right: 72px;
}

.filter-container {
  position: relative;
  bottom: 0;
}

.Alphabetic {
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.buttonAZ,
.buttonZA {
  width: 30px;
  height: 30px;
  margin: 0 7px;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  background-color: #ffffff40;
  color: #ffffff;
  -webkit-user-select: none;
  user-select: none;
  padding: 6px;
}

.buttonAZ:hover,
.buttonZA:hover {
  font-size: 18px;
  margin: 0 5px;
  margin: 0 7px;
  font-weight: 500;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #96C082;
  border-radius: 5px;
  color: #ffffff;
}


/*------------------------CONTENEDOR DE ORDENAMIENTO POBLACION 09-90*/

.filter-Poblation-container {
  position: relative;
  top: -13px;
  left: 30px;
}

.Poblation-container {
  position: relative;
  top: 13px;
}


.Poblation {
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.button09,
.button90 {
  width: 30px;
  height: 30px;
  margin: 0 7px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff40;
  color: #ffffff;
  -webkit-user-select: none;
  user-select: none;
  padding: 6px;
}

.button09:hover,
.button90:hover {
  font-size: 18px;
  margin: 0 5px;
  margin: 0 7px;
  font-weight: 500;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #96C082;
  border-radius: 5px;
  color: #ffffff;
}


/*------------------------------*/
.button-reset {
  position: relative;
  top: 10px;
}

.disable {
  pointer-events: none;
}

.active {
  pointer-events: all;
}

.No-visible {
  visibility: hidden;
}

@media screen and (max-width:800px) {

  .searchAndFilterBar-Container {
    position: fixed;
    bottom: 30.5%;;
    width: 250px;
    height: 220px;
    background-color: rgba(74, 74, 74, 0.6);
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: 0.8s ease all;
  }


  .searchAndFilterBar-Container-NoVisible {
    position: fixed;
    bottom: 30.5%;;
    width: 40px;
    height: 220px;
    background-color: rgba(74, 74, 74, 0.6);
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: 0.6s ease all;

  }
}