.button-home {
  width: 140px;
  height: 50px;

  position: absolute;
  bottom: 200px;

  display: flex;
  justify-content: center;

  border-radius: 5px;
  border-style: none;
  z-index: 3000;

  /* background: rgb(0, 70, 127); */
  user-select: none;
  background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);

  opacity: 0.3;
  transition: 0.5s all ease;
}

.button-homeAboutMe{
  width: 140px;
  height: 50px;

  position: absolute;
  bottom: 100px;
  left: 500px;

  display: flex;
  justify-content: center;

  border-radius: 5px;
  border-style: none;
  z-index: 3000;

  /* background: rgb(0, 70, 127); */
  user-select: none;
  background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);

  opacity: 0.3;
  transition: 0.5s all ease;
}

.button-proyecto {
  width: 140px;
  height: 50px;

  position: absolute;
  bottom: 100px;
  right: 500px;

  display: flex;
  justify-content: center;

  border-radius: 5px;
  border-style: none;
  z-index: 3000;

  /* background: rgb(0, 70, 127); */
  user-select: none;
  background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);

  opacity: 0.3;
  transition: 0.5s all ease;
}

.button-aboutMe{
  width: 140px;
  height: 50px;
  position: relative;
  bottom: -24px;
  right: -2px;
  display: flex;
  z-index: 3000;
  -webkit-user-select: none;
  user-select: none;
}

.button-aboutMe > span{
  margin: 16px auto;
  margin-left: 27px;
  font-size: 25px;
  font-weight: 400;
  color: white;
} 


.buttom-landinPage {
  left: 20px;
  bottom: 14px;

  width: 140px;
  height: 50px;
  position: absolute;

  display: flex;
  justify-content: center;

  border-radius: 5px;
  border-style: none;

  z-index: 3000;
  user-select: none;
  background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);

  opacity: 0.3;
  transition: 0.5s all ease;
}

.buttom-countryDetails {
  left: 20px;
  bottom: 14px;

  width: 140px;
  height: 50px;
  position: absolute;

  display: flex;
  justify-content: center;

  border-radius: 5px;
  border-style: none;

  z-index: 3000;
  user-select: none;
  background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);

  opacity: 0.3;
  transition: 0.5s all ease;
}

.button-addActivitie {
  width: 140px;
  height: 50px;

  position: absolute;
  bottom: 500px;
  left: 10px;

  display: flex;
  justify-content: center;

  border-radius: 5px;
  border-style: none;
  z-index: 3000;

  /* background: rgb(0, 70, 127); */
  user-select: none;
  background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);

  opacity: 0.3;
  transition: 0.5s all ease;
}


.buttom-activityHome {
  width: 140px;
  height: 50px;
  position: relative;
  top: 200px;

  display: flex;
  justify-content: center;

  border-radius: 5px;
  border-style: none;
  z-index: 3000;

  user-select: none;
  background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);

  opacity: 0.3;
  transition: 0.5s all ease;
}


.button-addActivitie>span {
  position: absolute;
  margin: 16px auto;
  font-size: 14px;
  font-weight: 400;
  color: white;
  transition: 0.5s all ease;
}


.button-home:hover,
.buttom-landinPage:hover,
.button-addActivitie:hover,
.buttom-addActivity:hover,
.buttom-countryDetails:hover,
.button-homeAboutMe:hover,
.button-proyecto:hover {
  opacity: 1;
  transition: 0.5s all ease;
}


span {
  position: absolute;
  margin: 14px 30px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: 0.5s all ease;
}


@media screen and (max-width:800px) {

  .button-home {
    bottom: 100px;
  }

  .button-addActivitie {
    width: 40px;
    height: 120px;
    position: fixed;
    top: 140px;
    left: 0px;
    display: flex;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    border-style: none;
    z-index: 3000;
    -webkit-user-select: none;
    user-select: none;
    background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);
    opacity: 0.3;
  }

  .button-addActivitie>span {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto 0;
    font-size: 12px;
    font-weight: 400;
    color: white;
    transform: rotate(270deg);
  }

  .buttom-activityHome {
    width: 140px;
    height: 50px;
    position: absolute;
    top: 730px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    z-index: 3000;
    -webkit-user-select: none;
    user-select: none;
    background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);
    opacity: 0.3;
    transition: 0.5s all ease;
  }

  .button-proyecto {
    width: 140px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    z-index: 3000;
    -webkit-user-select: none;
    user-select: none;
    background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);
    opacity: 0.3;
    transition: 0.5s all ease;
  }

  .button-homeAboutMe{
    width: 140px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    z-index: 3000;
    -webkit-user-select: none;
    user-select: none;
    background: linear-gradient(0deg, rgba(0, 70, 127, 1) 0%, rgba(165, 204, 130, 1) 100%);
    opacity: 0.3;
    transition: 0.5s all ease;
  }

  .buttom-landinPage {
    visibility: hidden;
  }

  .buttom-countryDetails {
    margin: 0 90px;
  }

}